/*https://www.free-css.com/free-css-templates/page233/nevada*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.8 !important; 
    margin: 0 !important;
    padding: 0 !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
  padding-top: 10px;
  padding-bottom: 10px;
}

p{
	font-family: 'Open Sans', serif;
	font-weight:300;
  padding-top: 10px;
  padding-bottom: 10px;
}

section {
	padding-top:85px;
	padding-bottom:85px;
}


td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}